body {
	font-family: 'Open Sans Condensed', sans-serif;
}

.container {
	background-image: url('https://static.pexels.com/photos/290348/pexels-photo-290348.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	height: 100vh;
	width: 100vw;
}

.calc {
	margin: 8em auto;
	background: #fff;
	padding: 0;
	max-width: 300px;
	box-shadow: 2px 3px 6px 0px  rgba(0, 0, 0, 0.29);
	border-radius: 0;
}

.calc-content {
	padding: 1.5em 2em 2em 2em;
	position: relative;
}

h3 {
	text-align: center;
	padding: .4em;
	margin-bottom: 1.5em;
	background: #76b852;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #8DC26F, #76b852);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #8DC26F, #76b852); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #fff;
	font-size: 2em;
}


.text-giant {
	font-size: 30px;
	color: #3D0B37;
}

.quantity-label {
	position: absolute;
	background: #A7C088;
	color: #fff;
	left: 20%;
	bottom: 51%;
	border: none;
	border-radius: 0;
}

.slider-action {
	background: red;
}

i {
	color: #3D0B37;
}

.subtitle {
 	position: absolute; 
	left: 0; 
 	right: 0; 
 	top: -25px;
	margin: 0 auto;
	width: 300px; /* Need a specific value to work */
}

.subtitle p {
	text-align: center;
	color: #878787;
	font-size: 16px;
}

h3 i {
	color: #fff;
	padding-left: 18px;
	padding-right: 18px;
}